header{
	background-color:  #BBBBBB;
	padding: 1.75% 0;
	width: 100%;
}

.caja{
	width: 100%;
	position: relative;
	margin: 0 auto;
}
nav{
	position: absolute;
	top: 20%;	
	right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
/*.itemsCortes{
	width: 100%;
	margin: 0 auto;
	padding: 5%;
}
.itemsCortes h2{
	text-transform: uppercase;
	font-size: 25px;
	text-transform: bold;
	font-family: italica;
}
.itemsCortes p{

	font-size: 15px;
}
.itemsCortes li{
	display: inline-block;
	text-align: center;
	width: 29%;
	vertical-align: top;
	border: 5px solid black;
	border-radius: 2px;
	margin: 0 1.5%;
	box-sizing: border-box;
}*/
.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
	border-radius: 10px;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
.productos li:hover {
    border-color: #C78C19;
}
.productos li:active {
    border-color: #088C19;    
}
.productos li:hover h2 {
    font-size: 33px;
}
footer {
    text-align: center;
    background: url(../img/seleccion/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
